header{
    background-color:  #0C573D;
}

nav{
    background-color: #0C573D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    font-size: large;
}

.zoo{
    display: flex;
    align-items: center;
}

.iconos{
    display: flex;
    align-items: center;
    gap: 8px;   /* <<< menos separación (ajústalo) */
}

nav i{
    color: white;
    font-size: 32px;
    cursor: pointer;
}

.tabla{
    border-radius: 20px;
    background-color:#B3D4E7;
    padding: 40px;
    align-items: center;
    box-shadow: 0 0 8px rgba(0,0,0,4); 
}


.tabla a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.tabla button{
    border-radius: 20px;
    background-color:#6d78da;
    max-height: 20px;
    
}

.foto-tiburon{
    display: block;
    width: 100%;           
    max-width: 140px;      
    object-fit: cover;     
    transform: scale(1.1); 
}